<p id="output"></p>

<div class="col-sm-offset-2 col-sm-4 homework subsection">
  <h3>Upcoming Homework</h3>

  <div id="upcomingHomework">
    <ul>
      <li ng-if="events.length = 0">No homework due!</li>
      <li ng-if="events.length > 0" ng-repeat="event in events">Homework: {{event.description}}, 
        due date: {{event.end}}</li>
    </ul>
  </div>
</div>

<div class="col-sm-4 clubs subsection">
  <h3>Upcoming Club Meetings</h3>

  <div id="clubs">
    <p>No Upcoming Club Meetings.</p>
  </div>
</div>